h2 {
    font-size: clamp(1.5rem, 1rem + 2vw, 3rem);
}


h3 {
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    margin-top: var(--spacer-md);
}

p {
    font-size: clamp(1rem, 1rem + .5vw, 1.5rem);
    margin-top: var(--spacer-md);
}

ul {
    list-style: none;
}

 .project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacer-sm);
    text-align: center;
    position: relative;
    background-color: var(--black);
    height: 60vh;
    margin-bottom: var(--spacer-lg);
    z-index: 10;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 61%); */
}

.project-title::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(107, 99, 254, 1) 0%, rgba(138, 83, 251, 1) 38%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.15;
    z-index: -1;
}

.project-title h1 {
    font-size: clamp(1.5rem, 2rem + 1vw, 4rem);
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: var(--spacer-sm);
}

.project-title a {
    font-size: 1.5rem;
    width: max-content;
    text-decoration: none;
    background-color: var(--white);
    padding: .5em 1em;
    margin-inline: auto;
    border-radius: .5em;
    transition: .2s ease;
}

.project-title a:hover {
    color: var(--white);
    background-color: var(--accent-2);
}

.mockup-container {
    position: relative;
    min-width: 300px;
    z-index: 2;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-info > *,
.challenges > * {
    flex: 1 1 0%;
}

.project-info ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-sm);
    list-style: none;
    margin-top: var(--spacer-sm);
    max-width: 400px;
}

/* .project-info ul > li {
    color: var(--white);
    padding: var(--spacer-sm);
    background-color: var(--accent-2);
    border-radius: 5px;
}

.project-info ol > li {
    padding: var(--spacer-sm);
    
} */

.project-overview ul {
    margin-left: 3em;
}


.project-overview ul > li {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.project-overview ul > li::marker {
    content: "✅";
  } 
    

.challenges,
.summary {
    margin-block: var(--spacer-xl);
}

.challenges {
    padding-block: var(--spacer-xl);
    background: rgba(138,83,251, .05);
    /* clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%); */

}

/* .challenges .text-content {
    max-width: 1100px;
} */

.challenges img { 
    margin-block: var(--spacer-lg);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.challenges img:not(.code-samples img) { 
    max-height: 600px;
}

.summary a {
    font-weight: bold;
    display: inline-block;
    margin-top: var(--spacer-lg);
}

@media screen and (min-width: 937px) {
    .project-info h2,
    .challenges h2 {
        margin-top: 0px;
    }
    .project-info {
        flex-direction: row;
        justify-content: space-between;
        gap: var(--spacer-lg);
    }
}


