/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --accent-1: #6b63fe;
    --accent-2: #8a53fb;

    /* spacers */

    --spacer-sm: .5em;
    --spacer-md: 1em;
    --spacer-lg: 2em;
    --spacer-xl: 4em;
    --spacer-xxl: 6em;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
/* body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
} */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
    font-family: "ADLaM Display", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.header-bar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 5px;
    background-color: var(--accent-1);
    border-radius: 2px;
    z-index: 999;
    /* transition: width .2s ease; */
}

header {
    background-color: var(--black);
    height: 10vh;
    overflow: hidden;
    z-index: 100;
    transition: all .2s ease;
}

.header-content,
.header-content ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content ul {
    
    gap: var(--spacer-md);
    display: none;
}

.header-content ul > li {
    position: relative;
}

.header-content ul > li::after {
    content: "";
    position: absolute;
    inset: 0;
    top: 100%;
    margin-inline: auto;
    width: 100%;
    height: 2px;
    transform: scale(0);
    background-color: var(--accent-1);
    transition: transform  ease .2s;
}

.header-content ul > li:hover::after {
    transform: scale(1);
    transform-origin: center;
}

@media screen and (min-width: 800px) {
    .header-content ul {
        display: flex;
    }

    .hamburger {
        display: none;
    }
   
}

header a {
    text-decoration: none;
    color: var(--white) !important;
}

header .logo {
    width: 120px;
    margin-top: -30px;
    /* background-color: red; */
}

header .hamburger {
    color: var(--white);
}

section {
    font-size: 1rem;
    color: var(--white);
    padding-block: var(--spacer-xxl);
    background-color: var(--black);
    position: relative;
    overflow: hidden;
}

section h2 {
    font-size: clamp(2rem, 2rem + 2vw, 5rem);
    color: var(--accent-1);
    margin-bottom: var(--spacer-md);
}

section p {
    font-size: clamp(.8rem, 1rem + .5vw, 2.5rem);
}

section.hero {
    height: 90vh;
    /* overflow-y: visible; */
    z-index: 99;
    background: linear-gradient(122deg, rgba(107, 99, 254, 1) 0%, rgba(138, 83, 251, 1) 5%, rgba(0, 0, 0, 1) 20%);
}


/* hero section styles */

.hero h1 {
    font-size: clamp(1.5rem, 3rem + 1vw, 5rem);
    line-height: 1;
}

.hero h1 > span:not(.accent) {
    font-size: clamp(2rem, 3rem + 4vw, 10rem);
    display: inline-block;
    line-height: .9;
    /* margin-left: calc(.5em + 5vw); */
    margin-top: var(--spacer-sm);

}

.hero h1 > .accent {
    /* display: inline-block; */
    color: var(--accent-1);
}

.hero h1 span > .accent {
    color: var(--accent-2);
}

.hero .cta {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: var(--spacer-md);
    cursor: pointer;
    transition: color ease .2s;

    .hire-me-text {
        margin-top: .5em;
    }

    span:not(.hire-me-text) {
        font-size: 4rem;
        color: var(--accent-2)
    }
}

.hero .cta:hover span:not(.hire-me-text) {
    color: var(--white);
}

.hero .cta:hover .hire-me-text {
    color: var(--accent-2);
}


.hero .content-wrapper {
    display: flex;
    flex-direction: column;
    @media screen and (min-width:1059px) {
        flex-direction: row;
        justify-content: space-between;
        
    }
}

/* .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    max-width: 150px;
    background-image: radial-gradient(var(--accent-1), var(--accent-2));
    border-radius: 50%;
    filter: blur(150px);
    opacity: 0.5;
} */

.code-img-container {
    width: 100%;
    position: relative;

    .watermark-container {
        display: none;
        position: absolute;
        inset: 0;
        z-index: -1;

        @media screen and (min-width: 1059px) {
            display: block; 
        }

    .watermark {
        /* font-weight: bold; */
        font-size: clamp(.5rem, 1rem + 2vw, 3rem);
        text-transform: uppercase;
        writing-mode: vertical-rl;
        opacity: 0.1;
        border: 1px solid black;
        width: 100%;
        /* height: 100% */

    }

    }

   
}

.code-img {
    /* margin-top: calc(-2em - 2vw); */
    position: absolute;
    right: calc(-10em + 2vw);
    bottom: calc(-20em + 2vw);
    z-index: -1;
}
 .code-img > img {
    width: 100%;
}

.flower-img {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 200px;
    z-index: -1;
}

section.about {
    min-height: 90vh;
    isolation: isolate;
}

.about .content {
    max-width: 150ch;
}

.about .content > p + p {
    margin-top: var(--spacer-md);
}

/* credentials */

section.credentials {
    min-height: 100vh;
    isolation: isolate;

    .flower-img {
        left: 50px;
    }
}


.credentials h3,
.contact h3 {
    font-size: clamp(1rem, 1rem + 1vw, 3.5rem);
}


.credentials ul {
    font-size: clamp(1rem, .9rem + .5vw, 2rem);
}

.credentials::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(107, 99, 254, 1) 0%, rgba(138, 83, 251, 1) 38%, rgba(0, 0, 0, 1) 100%);
    /* width: 50%;
    height: 50%;
    background-image: radial-gradient(var(--accent-1), var(--accent-2));
    border-radius: 50%;
    filter: blur(250px); */
    opacity: 0.1;
}

section.credentials .education,
section.credentials .skills {
    display: flex;
    justify-content: space-between;
}

.credentials .skills ul {
    font-weight: bold;
    display: flex;
    color: var(--black);
    list-style: none;
    gap: var(--spacer-md);
    flex-wrap: wrap;
}

.credentials .skills ul > li {
    --accent-1: rgba(107, 99, 254);
    --accent-2: rgb(138, 83, 251);
    padding: var(--spacer-sm);
    margin-bottom: var(--spacer-sm);
    max-width: max-content;
    background-color: var(--white);
    border-radius: .5em;
    box-shadow: rgba(138, 83, 251, 0.4) -5px 5px, rgba(138, 83, 251, 0.3) -10px 10px, rgba(138, 83, 251, 0.2) -15px 15px, rgba(138, 83, 251, 0.1) -20px 20px, rgba(138, 83, 251, 0.05) -25px 25px;
}

.skills, .education {
    padding-block: var(--spacer-md);
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

.skills {
    border-bottom: none;
}

.education ul, .skills-wrapper {
    width: 50%;
    margin-bottom: var(--spacer-lg);
}

.skills-wrapper {
    line-height: 1;
}

.skills-wrapper .tech-skills {
    margin-top: var(--spacer-lg);

    @media screen and (min-width: 430px) {
        margin-top: var(--spacer-xl);
    }
}

.skills-wrapper .tech-skills > h4 {
    font-size: clamp(1rem, 1rem + 1vw, 3rem);
    color: var(--accent-2);
    margin-bottom: var(--spacer-sm);
}

/* work section */

.work .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacer-md);
}

.work .header > span {
    padding: var(--spacer-sm);
    background-color: var(--accent-2);
}

.work .content p {
    margin-top: var(--spacer-md);
}

.work-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--spacer-lg);
}

.work-wrapper > * {
    margin-bottom: var(--spacer-xl);
}

.contact {
    text-align: center;
    /* gap: var(--spacer-md); */
    min-height: 100vh;
    isolation: isolate;

    p {
        font-size: 1rem !important;
    }

     h3 {
        margin-bottom: var(--spacer-md);
    }
    
}

.contact::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(107, 99, 254, 1) 0%, rgba(138, 83, 251, 1) 38%, rgba(0, 0, 0, 1) 100%);
    /* width: 50%;
    height: 50%;
    background-image: radial-gradient(var(--accent-1), var(--accent-2));
    border-radius: 50%;
    filter: blur(250px); */
    opacity: 0.15;
    z-index: -1;
}

form {
    color: var(--white);
    margin-inline: auto;
    margin-top: var(--spacer-xl);
    padding-block: var(--spacer-xl);
    max-width: 1100px;
    border-radius: 50px;
    background: rgba(255 255 255 /0.01);
    box-shadow: 0 4px 30px rgba(0 0 0 /0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    
}

form button {
    padding: var(--spacer-sm);
    border-radius: .5em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: ease .2s;
}

form button:focus,
form button:hover {
    background-color: var(--accent-1);
}

form label, form input {
    color: inherit;
    display: block;
    margin-bottom: var(--spacer-md);
}

form input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255 255 255 /0.2);
}

form input:focus {
    border-bottom: 1px solid var(--accent-2);
}

.form-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacer-sm);
    width: 85%;
    margin-inline: auto;
}

.form-wrapper .details {
    width: 100%;
}

.contact .textarea-container {
   
    /* padding-block: var(--spacer-lg); */
    textarea {
        color: var(--white);
        width: 100%;
        /* height: 100%; */
      
        padding: var(--spacer-md);
        background-color: transparent;
        
        border-radius: 1rem;
        transition: ease .2s;
    }

    textarea:focus {
        outline: 1px solid var(--accent-1);
        /* min-height: 100%; */
        box-shadow: 
          inset 0px 0px 8px var(--accent-2), 
          inset 0px 0px 8px var(--accent-1);
      }
}


/* utilities */
.container{
    width: 85%;
    max-width: 1440px;
    margin-inline: auto;
}

.grid-section {
    display: grid;
    place-items: center;
}



/* media queries */
